<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.emillozev.sipaudiocalls">

    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-sdk android:minSdkVersion="9"/>

    <uses-feature android:name="android.hardware.sip.voip" android:required="true"/>
    <uses-feature android:name="android.hardware.sip.wifi" android:required="true"/>
    <uses-feature android:name="android.hardware.microphone" android:required="true"/>

    <uses-permission android:name="android.permission.CONFIGURE_SIP" />
    <uses-feature android:name="android.software.sip" android:required="true" />
    <uses-feature android:name="android.software.sip.voip" android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />




    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_call_white_18dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".IncomingCallReceiver" android:label="Call Receiver"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>